<UL>
  <li>
  <%= link_to "Users", users_path %>
  </li>
</UL>


<% if logged_in? %>
  Your Profile <%= "Admin" if current_user.admin? %>
  <%= link_to "Edit your profile", edit_user_path(current_user) %>
  <%= link_to "View your profile", user_path(current_user) %>
<% end %>

<% if logged_in? %>
  | <%= link_to 'Log out', logout_path, method: :delete %>
<% else %>
  | <%= link_to 'Log In', login_path%> |
  <%= link_to 'Sign up', signup_path%>
<% end %>

<%= debug(params) if Rails.env.development? %>

